.block-product-detail {
    .slider-for {
        margin-bottom: 10px;

        .slick-slide {
            height: 450px;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                padding: 10px;

                &:hover {
                    border: 3px solid;
                }
            }
        }
    }

    .slider-nav {
        .slick-slide {
            padding: 5px;
            width: 100px;
            height: 100px;

            img {
                object-fit: cover;
                object-position: center center;
                width: 100%;
                height: 100%;
            }
        }
    }

    &__content {
        &__title {
            font-family: Poynter, Georgia, serif;
            font-weight: 400;
            font-style: normal;
            font-size: 2.08rem;
            line-height: 1.25;
            margin-bottom: 0;
        }

        &__author {
            display: block;
            margin-bottom: 5px;

            span {
                display: inline-block;
                color: #347d56;

                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }

        &__publisher {
            display: block;
            border-bottom: 1px solid #ccc;
            padding-bottom: 10px;
            margin-bottom: 10px;
        }

        &__price {
            display: inline-block;
            font-size: 32px;
            font-weight: 700;
            color: #000000;
            margin-right: 10px;
        }

        &__discount {
            display: inline-block;

            span {
                &:nth-child(2) {
                    color: #d83e00;
                }
            }
        }

        &__quantity-group {
            margin-bottom: 10px;

            input {
                max-width: 70px;
            }

            button {
                border-color: #3e5962;
                background-color: #3e5962;
            }
        }

        &__compare {
            font-size: 15px;
            color: #347d56;
            text-decoration: none;
            margin-bottom: 20px;

            &:hover {
                color: #347d56;
                text-decoration: underline;
            }
        }

        &__btn-add-cart {
            width: 100%;
            max-width: 200px;
            background-color: #3d6db5;
            border-radius: 0;
            text-transform: uppercase;
            font-weight: 600;

            &:hover {
                background-color: #3d6db5;
            }
        }

        &__view-cart {
            width: 100%;
            max-width: 200px;
            border-color: #3d6db5;
            border-radius: 0;
            text-transform: uppercase;
            font-weight: 600;
            color: #3d6db5;

            &:hover {
                background-color: #3d6db5;
            }
        }

        &__note-ship {
            margin-top: 10px;

            i {
                transform: rotateY(180deg);
                color: #3e5962;
            }
        }
    }

    &__description {
        margin-bottom: 50px;

        &__title {
            font-size: 1.8466rem;
            color: #21282d;
            font-style: italic;
            font-weight: 400;
            margin-top: 20px;
            margin-bottom: 10px;
        }

        &__content {
            border: 1px solid #a1a2a1;
            padding: 20px;
        }
    }

    &__order {
        margin-bottom: 50px;

        &__title {
            font-size: 1.8466rem;
            color: #21282d;
            font-weight: 400;
            margin-top: 20px;
            margin-bottom: 10px;
            text-align: center;
            display: flex;
            align-items: center;
            padding: 20px;

            &::before {
                content: " ";
                background-color: #ccc;
                display: block;
                height: 1px;
                flex-grow: .5;
                margin-right: 20px;
            }

            &::after {
                content: " ";
                background-color: #ccc;
                display: block;
                height: 1px;
                flex-grow: .5;
                margin-left: 20px;
            }
        }
    }

    #modal-compare-product {
        .modal-dialog {
            width: 100%;
            max-width: 1000px;
        }

        .carousel {
            &-inner {
                background-color: #EEEEEE;
            }

            &-item {
                height: 300px;

                img {
                    object-fit: contain;
                    object-position: center;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    #compare-second__redirect {
        a {
            font-size: 18px;
            color: #347d56;
            text-decoration: none;
            margin-bottom: 20px;
            font-weight: 600;

            &:hover {
                color: #347d56;
                text-decoration: underline;
            }
        }
    }

    #form-compare-product {
        .btn-group {
            button {
                background-color: #3d6db5;
                font-weight: 600;

                &:hover {
                    background-color: #3d6db5;
                }
            }
        }
    }
}
